* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    padding:10px;
}

.todo{
    width: 100%;
    background-color: #f1f5f9;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    background: white;
    padding: 15px;
    outline: none;
    box-shadow:#555
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #6366f1;
    border-radius: 45px;
    font-weight: 600;
    color: white;
}

.todo h2{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

img{
    width: 30px;
    margin-left: 10px;
}

ul li{ 
    list-style: none;
    font-size: 15px;
    font-weight: 500;
    padding:10px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(../images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 13px;
}

.checked{
    color: #555;
    text-decoration: line-through;
}

.checked::before{
    background-image: url(../images/checked.png);
}

ul li span{
    position: absolute;
    right: 5px;
    top: 1px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}


.done{
    text-decoration: line-through;
    color: gray;
}

a {
    display: block;
    text-align: end;
    color: black;
    text-decoration: none;
    padding: 15px;
}

button:hover{
    background-color: #5c5edf;
    transition: background-color 0.3s ease;
    transition: ease-out 0.3s;
}

.material-symbols-outlined
{
    color: gray;
    
}

.material-symbols-outlined:hover
{
    color: #555;
}